body {
    background-color: rgb(83, 186, 226)
}
a {
    text-align: right;
}
img {
    margin-bottom: 20px;
}
q {
    font-family: cursive;
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 200px;
}